<%= form_for(device) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :os %>
    <%= f.text_field :os %>
  </div>

  <div class="field">
    <%= f.label :cpu %>
    <%= f.text_field :cpu %>
  </div>

  <div class="field">
    <%= f.label :ram %>
    <%= f.text_field :ram %>
  </div>

  <div class="field">
    <%= f.label :disk %>
    <%= f.text_field :disk %>
  </div>

  <div class="field">
    <%= f.label :public_ip %>
    <%= f.text_field :public_ip %>
  </div>

  <div class="field">
    <%= f.label :private_ip %>
    <%= f.text_field :private_ip %>
  </div>

  <div class="field">
    <%= f.label :network_id %>
    <%= f.collection_select(:network_id, Network.all, :id, :uid) do %>
        <% networks.each do |c| -%>
          <%= content_tag(:option, c.uid, value: c.id) %>
        <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :device_type %>
    <%= f.text_field :device_type %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :commissioned_on %>
    <%= f.date_select :commissioned_on %>
  </div>

  <div class="field">
    <%= f.label :decommissioned_on %>
    <%= f.date_select :decommissioned_on %>
  </div>

  <div class="field">
    <%= f.label :environment_id %>
    <%= f.text_field :environment_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
