<p id="notice"><%= notice %></p>

<h1>Devices</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Description</th>
      <th>Os</th>
      <th>Cpu</th>
      <th>Ram</th>
      <th>Disk</th>
      <th>Public ip</th>
      <th>Private ip</th>
      <th>Network</th>
      <th>Category</th>
      <th>Device type</th>
      <th>Status</th>
      <th>Commissioned on</th>
      <th>Decommissioned on</th>
      <th>Environment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.uid %></td>
        <td><%= device.name %></td>
        <td><%= device.description %></td>
        <td><%= device.os %></td>
        <td><%= device.cpu %></td>
        <td><%= device.ram %></td>
        <td><%= device.disk %></td>
        <td><%= device.public_ip %></td>
        <td><%= device.private_ip %></td>
        <td><%= device.network %></td>
        <td><%= device.category %></td>
        <td><%= device.device_type %></td>
        <td><%= device.status %></td>
        <td><%= device.commissioned_on %></td>
        <td><%= device.decommissioned_on %></td>
        <td><%= device.environment %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
